# Build and Release Folders
8 puzzle programming assignment.code-workspace

# Other files and folders
tempCodeRunnerFile.cpp
main.exe

# Executables


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
